<div class="ui tiny modal">
    <div class="header">{{title}}</div>
    <div class="content">{{message}}</div>
    <div class="actions">
        <div class="ui positive button">OK</div>
        <div class="ui negative button">Cancel</div>
    </div>
</div>