@layout('layouts/master')
@set('title',post.title)
@section('body')
<h1 class="ui header">{{post.title}}</h1>
<p>{{post.body}}</p>
<a class="ui button" href="{{route('home')}}">Back</a>&nbsp;
<a class="ui button" href="{{route('posts.edit', {id: post.id})}}">Edit</a>&nbsp;
<a class="ui button" href="{{route('posts.delete', {id: post.id})}}">Delete</a>
@endsection