<!DOCTYPEhtml>
    <html>

    <head>
        <title>{{post.title}}</title>
    </head>

    <body>
        <h1>{{post.title}}</h1>
        <p>{{post.body}}</p>
        <a href="/posts">Back</a>&nbsp;<a href="/posts/{{post.id}}/edit">Edit</a>&nbsp;<a href="/posts/{{post.id}}/delete">Delete</a>
    </body>

    </html>